<!DOCTYPE html>
<html>

<style>
    .kc-item {
        width: 260px;
        padding: 0.4em;
        margin: 0.4em;
    }
</style>

<script type="text/x-template" id="note-view-template">
    <div class="card kc-item" v-on:click="$emit('click', note)">
        <div class="card-block">
            <h4 class="card-title">{{ note.title }}</h4>
            <p class="card-text">{{ note.content }}</p>
        </div>
    </div>
</script>

<script>
    Vue.component('note-view', {
        template: '#note-view-template',
        props: ['note']
    })
</script>

</html>
